body {
	margin: 0;
	padding: 0;
	background: #555555;
	font-size: 12px;
	color: #A19D9A;
	font-family: Consolas, Arial, Helvetica, sans-serif;
}

#tybd {/*Õû¸öÒ³Ãæ*/
    width: 100%;
	margin: 0 auto;
	padding: 0;
}

#bdA {
    float: left;
	width: 100%;
	height: 220px;
	margin: 0 auto;
	padding: 0;
	background: #222222;
}

#bdA2 {
    float: left;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: #333333;
}

#bdB {
    float: left;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: #FBFBFB;
}

#bdC0 {
    float: left;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	padding: 0;
	background: #333333;
}

#bdC {
    float: left;
	width: 100%;
	height: 165px;
	margin: 0 auto;
	padding: 0;
	background: #222222;
}

/**/

#AU {
    float: left;
	width: 100%;
	height: 100px;
	margin: 0 auto;
	padding: 0;
}

#AUL {
    float: left;
	width: 66%;
	height: 100px;
	margin: 0 auto;
	padding: 0;
}

#AUR {
    float: right;
	width: 34%;
	height: 100px;
	margin: 0 auto;
	padding: 0;
}

#AD {
    float: left;
	width: 100%;
	height: 120px;
	margin: 0 auto;
	padding: 0;
}

#ADL {
    float: left;
	width: 66%;
	height: 120px;
	margin: 0 auto;
	padding: 0;
}

#ADR {
    float: right;
	width: 34%;
	height: 120px;
	margin: 0 auto;
	padding: 0;
}

/**/
#A2U {
    float: left;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: #333333;
}

#A2D {
    float: left;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: #222222;
}

/**/

#BLeft {
    float: left;
	width: 87%;
	margin: 0 auto;
	padding: 0;
	background: #FBFBFB;
}

#BRight {
    float: right;
	width: 13%;
	margin: 0 auto;
	padding: 0;
	background: #FBFBFB;
}

#BL1 {
    float: left;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: #EEEEEE;
}

#BL2 {
    float: left;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: #222222;
}

#BL3 {
    float: left;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: #FBFBFB;
}

#BR1 {
    float: left;
	width: 100%;
	padding: 0;
	background: #FBFBFB;
}

#BR2 {
    float: left;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: #EEEEEE;
}

#BR3{
    float: left;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: #FBFBFB;
}

/**/
.cAUL {

	margin: 0 auto;
	padding: 30px 0px 0px 120px;
	font-size: 50px;
	color: #FFFFFF;
}

.cAUL p {
    margin: 0;
	line-height: 100%;
	padding: 0px 0px 0px 0px;
}

.cAUL a {
	text-decoration: none;
	color: #FFFFFF;
}

.cAUL a:hover {
	color: #F0F0F0;
}

.cAUR {

	margin: 0 auto;
	padding: 30px 10px 0px 20px;
	font-size: 20px;
	color: #EEEEEE;
}

.cAUR p {
    margin: 0;
	line-height: 120%;
	padding: 0px 0px 0px 0px;
}

.cAUR a {
	text-decoration: none;
	color: #EEEEEE;
}

.cAUR a:hover {
	color: #F0F0F0;
}

.cADL {

	margin: 0 auto;
	padding: 0px 0px 0px 120px;
	font-size: 16px;
	color: #999999; /* #666666*/
}

.cADL p {
    margin: 0;
	line-height: 150%;
	padding: 0px 0px 0px 0px;
}

.cADL a {
	text-decoration: none;
	color: #999999;
}

.cADL a:hover {
	color: #666666;
}

.cADR {

	margin: 0 auto;
	padding: 5px 10px 0px 20px;
	font-size: 16px;
	color: #999999;
}

.cADR p {
    margin: 0;
	line-height: 150%;
	padding: 0px 0px 0px 0px;
}

.cADR a {
	text-decoration: none;
	color: #999999;
}

.cADR a:hover {
	color: #666666;
}

.cA2U {

	margin: 0 auto;
	padding: 6px 80px 6px 80px;
	font-size: 16px;
	color: #AAAAAA;
}

.cA2U p {
    margin: 0;
	line-height: 150%;
	padding: 0px 0px 0px 0px;
}

.cA2U a {
	text-decoration: none;
	color: #AAAAAA;
}

.cA2U a:hover {
	color: #FFFFFF;
}

.cA2D {

	margin: 0 auto;
	padding: 6px 80px 3px 80px;
	font-size: 16px;
	color: #AAAAAA;
}

.cA2D p {
    margin: 0;
	line-height: 150%;
	padding: 0px 0px 0px 0px;
}

.cA2D a {
	text-decoration: none;
	color: #AAAAAA;
}

.cA2D a:hover {
	color: #FFFFFF;
}

.cBL1 {

	margin: 0 auto;
	padding: 5px 50px 5px 80px;
	font-size: 35px;
	color: #333333;
}

.cBL1 p {
    margin: 0;
	line-height: 150%;
	padding: 0px 0px 0px 0px;
}

.cBL1 a {
	text-decoration: none;
	color: #333333;
}

.cBL1 a:hover {
	color: #000000;
}

.cBL2 {

	margin: 0 auto;
	padding: 5px 50px 5px 80px;
	font-size: 15px;
	color: #999999;
}

.cBL2 p {
    margin: 0;
	line-height: 100%;
	padding: 3px 0px 3px 0px;
}

.cBL2 a {
	text-decoration: none;
	color: #999999;
}

.cBL2 a:hover {
	color: #FFFFFF;
}

.cBL3 {

	margin: 0 auto;
	padding: 15px 50px 15px 80px;
	font-size: 16px;
	color: #111111;
}

.cBL3 p {
    margin: 0;
	line-height: 180%;
	padding: 5px 0px 5px 0px;
}

.cBL3 a {
	text-decoration: none;
	color: #2eacc5;
}

.cBL3 a:hover {
	color: #1c6e7e;
}


.cBR1 {
    width: 150px;
	margin: 0 auto;
	padding: 8px 2px 0px 10px;
	font-size: 15px;
	color: #111111;
}

.cBR1 p {
    margin: 0;
	line-height: 150%;
	padding: 0px 0px 0px 0px;
}

.cBR1 a {
	text-decoration: none;
	color: #2eacc5;
}

.cBR1 a:hover {
	color: #1c6e7e;
}

.cBRID {
    color: #000000;
    font-size: 18px;
	font-weight: bold;
}

.cbdC0 {

	margin: 0 auto;
	padding: 12px 170px 15px 80px;
	font-size: 16px;
	color: #999999;
}

.cbdC0 p {
    margin: 0;
	line-height: 180%;
	padding: 0px 0px 0px 0px;
}

.cbdC0 a {
	text-decoration: none;
	color: #999999;
}

.cbdC0 a:hover {
	color: #FFFFFF;
}

.cbdC {

	margin: 0 auto;
	padding: 30px 130px 0px 120px;
	font-size: 15px;
	color: #999999;
}

.cbdC p {
    margin: 0;
	line-height: 180%;
	padding: 0px 0px 0px 0px;
}

.cbdC a {
	text-decoration: none;
	color: #FBFBFB;
}

.cbdC a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.btn
{
	width:60px;
	height:37px;
	font-size: 16px;
	font-family: Consolas, Arial, Helvetica, sans-serif;
    color:#999999;
	background-color:#333333;
	border:0px;
	border-color:#333333;
}

.btn:hover {
    color: #FBFBFB;
    cursor: pointer;
    cursor: hand;
}

.text{
	width:200px;
	height:35px;
	font-size: 16px;
	font-family: Consolas, Arial, Helvetica, sans-serif;
    color:#FBFBFB;
	background-color:#333333;
	border:0px;
	border-color:#333333;
}